body {
  margin:0;
  background: rgb(95, 5, 11);
}
h1 {
  color: rgb(240, 242, 247);
  text-shadow: 2px 4px 4px rgba(144, 113, 51, 0.928);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin:0px;
  width: 50px;
  
}
li {
  display: flex;
  list-style: none;
  padding: 25px;
  width: 100px;
  height: 10px;
}
li:hover {

}

li a {
  text-decoration: none;
}
li:hover,li:visited {
  background-color: rgb(99, 207, 124);
  background-color: #f44336;
  color: white;
  /* padding:  25px; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}
header {
  padding:60px;
  color: rgb(225, 250, 215);
  font-size: 20px;
  background-color: grey;
  font-weight: bold;
  margin: 10 0;
}

h1 {
  color: rgb(133, 141, 14);
  font-weight: bolder;
  text-align: center;
  text-decoration: hwb(177 13% 30%);
}

h3 {
  margin-top: 0;
}

section {
  text-align: center;
  background-color: aliceblue;
  padding: 20px 0;
  margin-inline-start: 30px;
  
}

  /* border-left: 30; not sure about border property  */

  .flex-item-left {
    float: left;
    padding: 130;
    shape-outside: circle(50%);
     
  }

.two {
    text-align: center;
    
}
    /* background-color: rgb(12, 62, 62);} */
  

aside {
  display: flex;
  /* border: 1px solid black; */
  /* width: 20px;x */
  justify-content: space-evenly;
}


section {
  /* border: 1px solid red; */
  /* width: 500px; */
  margin: 1px;
}
img {
  float: left;
  margin: 30px;
  
}

p {color: whitesmoke;
  text-align: justify;
  font-size: 20px;
}

.square{width: 600px
  ;
margin: auto;}

.square h2 {
  margin-bottom: 0;
}

/* These are my new sections addeed area */
.Nyar:hover {
  background-color: rgb(99, 207, 124);
  background-color: #f44336;
  color: rgb(47, 10, 213);
  padding: 0;

  

}
.Herufi{text-align: center;
  color: aqua;
   
}

.lusenda {
  display: grid;
  gap: 1.5 rem;
  grid-template-columns: repeat(3);
  box-sizing: border-box; 
  border: 1px solid blue; 
  width: 100%; float: right; 



}
.lulinda {box-sizing: border-box;
   border: 1px solid blue;
    width: 100%; 
    float: right; 


}

.tiger { 
  background-color:#7e7e9f;
  box-sizing: border-box;
   border: 1px solid blue;
   width: 100%; float: right; 
   
}
.tiger p{
  padding: 30px;
}

.awesomefooter{ 
  background-color: #fdff7f;
/* width: 100px; */
height: 300px;
display: flex;
justify-content: center;
/* text-align: center; */
padding: 90px;
/* align-items: left; */
margin-inline-start: 0 px ;
}

article{ text-align: end;
text-indent: 1in;}


.awesomefooter .fab, span {
  padding: 10px;
}
.education{ 
  display: flex;
  align-items: center;
}
.donate{
  display: flex;
  align-items: center;

}

/* .grid 1{
  display:grid;
  gap: 1.5em;
  grid template -columns: repeat(1,1fr)
} */
  /* @media screen and (max-width: 600px) { 
    .container { display: flex ;
      background-color: aqua;
      width: 200px;
    }
    
  }

  @media screen and (min-width: 480px) {
    body {
      background-color: #5f1c04;
    }
  } */
  
/* example hamburger menu */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(104, 15, 15);
}

/* Style the active link (or home/logo) */
.active {
  background-color: #aa0404;
  color: white;
}
/*  */
p{
  text-align: justify;
    font-size: 20px;
}

.baraka {display: flex;

}

@media(min-width:1200px){ 
  body{ width:100%;

  }
  .awesomefooter{ 
    display: flex;
  

  }
.dark-text{color:black;

}



  
}