body {
  margin:30px 0;
  background: aliceblue;
}
h1 {
  color: royalblue;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
ul {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style: none;
  padding: 20px;
}

li a {
  text-decoration: none;
}
a:hover{
  background-color: rgb(99, 207, 124);
}
header {
  color: rgb(225, 250, 215);
  font-size: 20px;
  background-color: grey;
  font-weight: bold;
  margin: 10 0;
}

h1 {
  color: black;
  font-weight: bolder;
  text-align: center;
  text-decoration: hwb(177 13% 30%);
}

h3 {
  margin-top: 0;
}

section {
  text-align: center;
  background-color: aliceblue;
  padding: 20px 0;
  margin-inline-start: 30px;
  
}

  /* border-left: 30; not sure about border property  */

.two {
  text-align: center;
    background-color: rgb(12, 62, 62);}
  

aside {
  display: flex;
  border: 1px solid black;
  /* width: 20px;x */
  justify-content: center;
}


section {
  border: 1px solid red;
  width: 500px;
  margin: 1px;
}



.awesomefooter{ 
width: 100px;
height: 100px;
display: flex;
justify-content: space-evenly;
text-align: center;
padding: 90px;
align-items: left;
margin-inline-start: 30px ;
}
article{ text-align: end;
text-indent: 1in;}

/* footer { */
  /* color: green-blue; */
  /* text-align: center; */


