body {
  margin:20px 0;
}

.container{
  display: flex;
}

header {
  color: rgb(225, 250, 215);
  font-size: 20px;
  background-color: grey;
  font-weight: bold;
  margin: 10 0;
}

h1 {
  color: black;
  font-weight: bolder;
  text-align: center;
  text-decoration: hwb(177 13% 30%);
}

h3 {
  margin-top: 0;
}

section {
  text-align: center;
  background-color: aqua;
  padding: 20px 0;
  /* border-left: 30; not sure about border property  */
}

.two {
  text-align: center;
  background-color: rgb(12, 62, 62);
}

footer {
  color: green-blue;
  text-align: center;
}
