body {
  margin:30px 0;
  background: rgb(95, 5, 11);
}
h1 {
  color: rgb(240, 242, 247);
  text-shadow: 2px 4px 4px rgba(144, 113, 51, 0.928);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
ul {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style: none;
  padding: 20px;
}

li a {
  text-decoration: none;
}
a:hover{
  background-color: rgb(99, 207, 124);
}
header {
  color: rgb(225, 250, 215);
  font-size: 20px;
  background-color: grey;
  font-weight: bold;
  margin: 10 0;
}

h1 {
  color: rgb(133, 141, 14);
  font-weight: bolder;
  text-align: center;
  text-decoration: hwb(177 13% 30%);
}

h3 {
  margin-top: 0;
}

section {
  text-align: center;
  background-color: aliceblue;
  padding: 20px 0;
  margin-inline-start: 30px;
  
}

  /* border-left: 30; not sure about border property  */

.two {
    text-align: center;
    
}
    /* background-color: rgb(12, 62, 62);} */
  

aside {
  display: flex;
  /* border: 1px solid black; */
  /* width: 20px;x */
  justify-content: space-evenly;
}


section {
  /* border: 1px solid red; */
  width: 500px;
  margin: 1px;
}
img {
  float: left;
  
}

p {color: whitesmoke;
  text-align: justify;
  font-size: 20px;
}

.square{width: 600px
  ;
margin: auto;}

.square h2 {
  margin-bottom: 0;
}


.awesomefooter{ 
  background-color: aquamarine;
/* width: 100px; */
height: 100px;
display: flex;
justify-content: center;
/* text-align: center; */
padding: 90px;
/* align-items: left; */
margin-inline-start: 30px ;
}
article{ text-align: end;
text-indent: 1in;}

.awesomefooter .fab, span {
  padding: 10px;
}

/* footer { */
  /* color: green-blue; */
  /* text-align: center; */


